In [1]:
import pandas as pd

Creamos un diccionario con paises

In [2]:
dataPaises = {
    "pais": ["España", "Francia", "Colombia", "Mexico", "Peru"],
    "capital": ["Madrid", "Paris", "Bogota", "Ciudad de Mexico", "Lima"],
    "superficie": [1.9, 2.6, 3.9, 4.0, 2.8] 
}

Creamos un Dataframe con el diccionario

In [3]:
df = pd.DataFrame(dataPaises)
df

       pais           capital  superficie
0    España            Madrid         1.9
1   Francia             Paris         2.6
2  Colombia            Bogota         3.9
3    Mexico  Ciudad de Mexico         4.0
4      Peru              Lima         2.8

Por ejemplo, podemos dibujar solamente una columna

In [4]:
df[['capital']]

            capital
0            Madrid
1             Paris
2            Bogota
3  Ciudad de Mexico
4              Lima

Podemos dibujar más de una columna

In [5]:
df[['capital', 'superficie']]

            capital  superficie
0            Madrid         1.9
1             Paris         2.6
2            Bogota         3.9
3  Ciudad de Mexico         4.0
4              Lima         2.8

Se pueden seleccionar filas por su posición del índice
Primero incluido y el segundo no incluido

In [6]:
df[2:5]

       pais           capital  superficie
2  Colombia            Bogota         3.9
3    Mexico  Ciudad de Mexico         4.0
4      Peru              Lima         2.8

Por defecto, los índices de los elementos son numéricos y 
los pone automáticamente.  
Podemos crear nuestros propios indices y sustituir el index

In [10]:
df.index = ["ES", "FR", "CO", "MX", "PE"]
df = df.reset_index()
df

  index      pais           capital  superficie
0    ES    España            Madrid         1.9
1    FR   Francia             Paris         2.6
2    CO  Colombia            Bogota         3.9
3    MX    Mexico  Ciudad de Mexico         4.0
4    PE      Peru              Lima         2.8